.triptych-container{
    display: flex;
    flex-direction: row;
}

.code-block {
    width: 33.33%;
    padding: 0 10px;
    margin: 5px;
    border: 1px solid rgba(224, 224, 224, 0.5);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
}
